<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        <div class="">
            <div class="main-menu-header">
                <img class="img-80 img-radius" src="../files/assets/images/avatar-4.jpg" alt="User-Profile-Image">
                <div class="user-details">
                    <span id="more-details">{{  loggedUserRole }} <i class="fa fa-caret-down"></i></span>
                </div>
            </div>
            <div class="main-menu-content">
                <ul>
                    <li class="more-details waves-effect waves-light">
                        <a (click)="logout()"><i class="ti-layout-sidebar-left"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-15 p-b-0">
            <div class="pcoded-navigation-label" menu-title-theme="theme1">Navigation</div>
        </div>
        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a href="#/salesitem" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-layout-cta-right"></i><b>N</b></span>
                    <span class="pcoded-mtext">SaleItem Management</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

    </div>
</nav>


